{% load static %}
<html>
	<head>
		<title> Contact </title>
		<style>
			
			ul.mohit{
				margin-left:70px;
				}
			a.mohit{
				font-size:20;
				color:black;
				text-decoration:none;
				}
			ul a:hover {
				background-color:gray;
				font-size:23;
				font-weight:bold;
				}


		</style>
	</head>
	<body style="background: url('{% static 'logo.jpg' %}')">
	
	<div style="border-bottom:2px solid;">
    		<p style="text-align: center; font-size:300%; font-style:italic; padding-top:20px; "><b>Contact us</b></p>
	</div>
	
	<div style="margin-top:-17px;">
		<h2> 1.Website:-</h2>
		<ul class="mohit">
		<li><a class="mohit" href="https://indianrailways.gov.in/"> <b> Indian railways </b> </a></li>
		<li><a class="mohit" href="https://indiarailinfo.com/"> <b> Indian rail info </b> </a></li>	
		<li><a class="mohit" href="https://www.railyatri.in/"> <b> Rail yatri </b> </a></li>
		
		
		</ul>
		<br>
		<h2> 2.Email:- <h2>
		<ul class="mohit">
		<li><b> Ministry of Railways (Railway Board):-crb@rb.railnet.gov.in </b></li>
		<li><b> RailNet:-DGM(L aw)dgml@scr.railnet.gov.in Secretary (P G)secypg@scr.railnet.gov.in SWSOswso@scr.railnet.gov.in
</b></li>
		







	</div>
	</body>
</html>