{% load static %}
<html>
	<head>
		<title> Payment </title>
	</head>
	<body>
		<body background="C:\Users\krish\Desktop\r\media\luxa.org-opacity-changed-Indian-Railway_Logo1 (2).jpg">
			<form style="font-size:25; margin:200px 400px 0px 400px; border:2px solid; border-radius:5px;">
			<h1 style="margin-left:430px;"> <u> Payment </u> </h1><br>

			<img src="C:\Users\krish\Desktop\r\media\debit-vs-credit-card-featured-image.png" style="height:100px; weight:500px;">
			<img src="C:\Users\krish\Desktop\r\media\Discover-logo-e1416429693676.jpg" style="height:100px; weight:500px;">
			<img src="C:\Users\krish\Desktop\r\media\Visa_Inc._logo.svg.webp" style="height:100px; weight:500px;">
			<img src="C:\Users\krish\Desktop\r\media\25637-6-credit-card-visa-and-master-card-transparent-image.png" style="height:100px; weight:500px;"><br> <br>


			<label for="fname">Card number:</label>
  			<input type="number" id="fname" name="fname"><br> <br>

			<label for="fname">Card holder name:</label>
  			<input type="text" id="fname" name="fname"><br><br>

			<label for="fname">CVV:</label>
  			<input type="number" id="fname" name="fname"><br><br>

			<label for="fname">Exp month:</label>
  			<input type="number" id="fname" name="fname">
			<label for="fname">Exp year:</label>
  			<input type="number" id="fname" name="fname"><br><br><br>
			<a href="{% url 'successfull' %}">
			<input type="button" value="Make Payment" onclick="" style="background-color:black; color:white; margin-left:50px; font-size:20; border-radius:5px;"><br> <br>
			</a>
	</body>
</html>