<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            width: 700px;
            margin: auto;
            text-align: center;
            padding: 20px;
            background-color: #f1f1f1;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        
        h1 {
            color: #2ecc71;
        }
        
        p {
            color: #333;
            margin-bottom: 10px;
        }
        
    </style>
    <link rel="stylesheet" href="style.css">
    <title>Payment Successful</title>
</head>
<body>
    <div class="container">
        <h1>Payment Successful!</h1>
        <p>Thank you for your payment. Your transaction was successful.</p>
        <p>Transection ID: #123456</p>
    </div>
</body>
</html>
