{% load static %}
<html>
	<head>
		<title> User block </title>
		<style>
			div.mohit{
					border-radius:5px; background-color:black; margin: 0px 600px 0px 600px; text-align:center;
				}
			input.sonu{
				color:white;  font-size:30; background-color:black;  
			}
		</style>
	</head>
	<body style="margin:0px; background-image: url('{% static 'logo.jpg' %}')">
	
	<div style="border-bottom:2px solid;">
    	<p style="text-align: center; font-size:300%; font-style:italic; padding-top:25px; "><b>User Block</b></p>
	</div> 
	
	<br>
	<br>
	<div style=" border-radius:5px; background-color:black; margin: 0px 500px 0px 500px;">
		<p style=" color:white; text-align:center; font-size:30;"> <b>DASHBOARD</b> </p>
	</div>
	<br> 
	<div class="mohit">
		<a href="/trainuser">
		<input type="button" value=" Search Train" onclick=""23:25 02-07-2023 class="sonu">
		</a>
	</div>
	<br> 
	<div class="mohit">
		<a href="">
		<input type="button" value="My Booking" onclick="" class="sonu">
		</a>
	</div>
	<br> 

		
		







	</div>
	</body>
</html>